body {
    min-height: 100vh;
    box-sizing: border-box;
}

.logo a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    box-sizing: border-box;
    display: flex; /* Keeps logo and links in same line */
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar ul li {
    display: inline;
    list-style: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.search-nav input[type=text] {
    padding: 5px;
    border-radius: 20px;
}

.search-nav button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.search-nav button:hover {
    background: #ccc;
}

.search-nav button:active {
    background: #949494;
}

.navbar ul li a:hover {
    background: #ccc;
    padding: 10px;
    border-radius: 20px;
}

.main-header {
    text-align: center;
}

.form-container p {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    font-size: 16px;
    margin: auto; /* Centered form */
    padding-bottom: 380px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    background: #fff;
    padding: 10px;
}


/* input[type=text], [type=email], [type=tel], textarea */
.firstName, .lastName, .phoneNumber, .email, textarea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #808080;
    padding: 10px;
    margin: 10px 0;/*Space between labels and inputs*/
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 8px;
    border: none;
    position: relative;
    cursor: pointer;
    margin-left: 200px;
}

.contact-form button:hover {
    background: #808080;
}

.contact-form button:active {
    background: #949494;
}

.main-footer {
    background: #000;
    color: #fff;
    padding: 10px;
}

.main-footer .footer-header, .website-link, .bottom-footer {
    text-align: center;
    margin: auto;
}

.main-footer .website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.main-footer .socials {
    list-style: none;
    display: flex; /* Moved social icons into a row */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0; /* Removed padding on left of <ul> */
    margin: auto;
}

.socials li {
    padding: 1rem;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        margin-left: 20px;
    }

    .searchbar {
        margin: 5px 0 20px 50px; /* top right bottom left */
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        margin: auto;
        padding-bottom: 100px;
    }

    .contact-form {
        width: 50%;
        background: #fff;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .remember {
        font-size: 12px;
    }

    /* .contact-form button {
        background: #000;
        color: white;
        border-radius: 20px;
        padding: 8px;
        border: none;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    } */
}

/* Tablet Responsiveness */
@media screen and (max-width: 800px) {
    .navbar ul {
        padding-left: 0;
        /* margin-right: 20px; */
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        margin: auto;
        padding-bottom: 500px;
    }

    .contact-form {
        width: 80%;
        background: #fff;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form button {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }
}

/* Desktop Responsiveness */
@media screen and (min-width: 800px) {
    .navbar ul {
        margin-left: 20px;
    }

    section {
        display: flex;
        justify-content: center;
        width: 85%;
        font-size: 16px;
        margin: auto;
        padding-bottom: 430px;
    }

    .contact-form {
        width: 45%;
        background: #fff;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form button {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        position: relative;
        cursor: pointer;
        margin-left: 110px;
    }
}