@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    min-height: 100vh;
    box-sizing: border-box;
} 

.navbar {
    display: flex; /* Keeps logo and links in same line */
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li {
    display: inline;
    list-style: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.navbar ul li a:hover {
    background: #ccc;
    padding: 10px;
    border-radius: 20px;
}

.search-nav input[type=text] {
    padding: 5px;
    border-radius: 20px;
}

.search-nav button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.search-nav button:hover {
    background: #ccc;
}

.search-nav button:active {
    background: #949494;
}

.hero {
    width: 100%;
    /*max-width: 100;
    height: auto; */
}

.subheading {
    font-family: 'Lora', serif;
    font-weight: normal;
    color: #333;
    height: 200px;
    text-align: center;
}

.slideshow-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.slideshow {
    padding-bottom: 20px;
}

.imgSlide {
    height: 15%;
    width: 15%;
    display: none;
    margin: auto;
    padding: 10px;
} 

.main-footer {
    background: #000;
    color: #fff;
    padding: 10px;
}

.main-footer .footer-header, .website-link, .bottom-footer {
    text-align: center;
    margin: auto;
}

.main-footer .website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.main-footer .socials {
    list-style: none;
    display: flex; /* Moved social icons into a row */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0; /* Removed padding on left of <ul> */
    margin: auto;
}

.socials li {
    padding: 1rem;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

/* Mobile and Tablet Responsiveness */
@media screen and (max-width: 800px) {
    .navbar {
        margin-left: 20px;
    }

    .searchbar {
        margin: 5px 0 20px 50px; /* top right bottom left */
    }

    .subheading {
        font-family: 'Lora', serif;
        font-weight: normal;
        font-size: 10px;
        line-height: 1rem;
        color: #333;
        height: 200px;
        text-align: center;
    }
}